<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
