  <div class="row text-center">
    <h1>Cocktails</h1>
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo ? cocktail.photo.path : 'ckncf1xexhkkwx9k90tr' %>');">
          <div class="card-category"><%= cocktail.name %></div>
            <%= link_to '', cocktail_path(cocktail), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
