<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="inactive"><%= link_to "Home", cocktails_path, class: "btn btn-default" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Create new cocktail", new_cocktail_path, class: "btn btn-info" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
